*.pyc
*.*~
*.pkl
*.parquet
*.egg-info
.ipynb-checkpoints
*/.ipynb_checkpoints/*
.ropeproject
.mypy_cache
__pycache__
docs/build
build
dist
MANIFEST
autoGDC/data/*
GDC_API.key
autoGDC/GDC_API.key
Enrichr/
GSEA_Prerank
